@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2E948A;
  margin-bottom: 20px;
}

#logo-header{
  width: 150px;
  padding: 15px 0px 15px 30px;
}

.nav {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FDFDFD;
  padding: 5px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner__img {
  width: 170px;
  padding-top: 30px;
}

.banner__div {
  display: flex;
  flex-direction: column;
  width: 180px;
}

#banner__title {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: #FF4081;
  padding-bottom: 10px;
}

#banner__text {
  width: 160px;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
  color: #555555;
  padding-bottom: 15px;
}

#banner__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 25px;
  border:#FF4081 solid 2px;
  border-radius: 30px;
  color: #FF4081;
  width: 120px;
  text-align: center;
}


@media only screen and (max-width:320px) {
}

@media only screen and (min-width: 600px) {
}